@charset "UTF-8";

* {
    font-family: 'Times New Roman', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: white;
    /* background-image: linear-gradient(180deg, #B7E4C7); */
    /* background-repeat: no-repeat; */
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, main, section, article {
    max-width: 700px;
}

header > h1 {
    color: black;
    font-size: 24px;
    /* text-shadow: 2px 1px black; */
}

main, section, article {
    background-color: white;
    /* padding: 15px; */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502); 
}

/* ELEMENTOS DE FORMULÁRIO */

form {
    background-color: #D9D9D9;
    padding: 15px;
    /* border-radius: 10px; */
}

form label {
    display: block;
    width: fit-content;
    font-size: 1.2em;
    /* font-weight: 100; */
    /* background-color: #D8F3DC; */
    padding: 3px 7px;
    margin-top: 10px;
    /* margin-bottom: 0px; */
    /* border-radius: 5px; */
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.2em;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
}
  
input[type=submit] {
    width: 40%;
    background-color: white;
    font-size: 1.2em;
    color: #40916C;
    border-color:#40916C;
    border-width: 2px;
    padding: 10px 20px;
    margin: 5px 0;
    /* border: 10px; */
    border-radius: 40px;
    cursor: pointer;
}
